<div class='container'>
  <table>
  <caption>Your Cart</caption>
    <%= render (@cart.line_products)%>
    <tr>
      <td></td>
      <td></td>
      <td><b>Subtotal: </b><%= number_to_currency(@cart.total_price) %></td>
    </tr>    
  </table>
  <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } , class: 'tiny button radius' %> 
</div>