.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

th {
  text-align: left;
}

a#roll {
  padding: 5px;
  background-color: #ccc;
  border: 1px solid #222;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.die {
  font-size: 2em;
  padding: 20px;
}

.roll {
  border: solid 2px #666;
  padding: 20px;
  background-color: orange;
}

pre>code {
  line-height: 2em;
  font-size: 1em;
  border: none; 
}
code {
  line-height: 2em;
  font-family: monospace;
  color: #666666;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px 4px;
  font-size: .9em;
}

pre {
  background-color: #f8f8f8;
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 100;
  overflow: auto;
  margin: 1em inherit;
  word-wrap: auto; 
  border: 1px solid #ddd;
  color: #666666;
}
