// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//* {
//  outline: 1px solid #AFEEEE;
//}

#pictures > img {
  height: 300px;
  width: 300px;
}

.container {
  margin: auto;
  width: 80%;
}

.page-header {
  margin: auto;
  width: 80%;
}

.pic-info {
  text-align: center;
}
