<thead>
  <tr>
    <th class='small-2 '>Title</th>
    <th class='small-1 '>Image</th>
    <th class='small-1 '>Quantity & Price</th>
    <th class='small-1 '>Actions</th>
  </tr>
</thead>
<tbody>
    <tr>
      <td><%= line_product.product.title %></td>
      <td><%= image_tag(line_product.product.image_url) %></td>
      <td><%= line_product.quantity %> &times;
      	<%= number_to_currency(line_product.product.price) %></td>        
    </tr>
</tbody>    
    
  